.inscriptions h2 {color: fuchsia;
font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal ;
    text-align: center}


body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
}

form {
    background: white;
    padding: 40px;
    border: 1px solid #ccc;
    width: 80%; 
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 20px; 
    padding: 10px;
    background: pink;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background 0.3s;
    font-weight: bold;
}

button:hover {
    background: fuchsia;
    color: black;
    font-weight: bold;
}

